# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
.env-dev/

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# PyCharm
.idea/
*.iml
workspace.xml

# Logs and databases
*.log
*.sqlite3
*.db

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.local
.env.*.local
.env-dev.local
.env-dev.*.local

# System files
.DS_Store
Thumbs.db

#app
app/output

#download
downloads